<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>Hello World</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %>Welcome World</h1>
    <p>GitHub RUNNER   <%= title %></p>
  </body>
</html>
